body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #ffbe0b;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: bold;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    background-color: #fff;
}

.hero-content {
    max-width: 50%;
}

.hero h1 {
    font-size: 48px;
    margin: 0;
    color: #000;
}

.hero .highlight {
    color: #ffbe0b;
}

.hero p {
    font-size: 18px;
    margin: 20px 0;
    color: #666;
}

.hero .btn {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

.hero-image img {
    max-width: 300px; /* Adjust the value to your desired maximum width */
    height: auto;
    border-radius: 10px;
}

.hero-image img:hover {
    transform: scale(1.1) rotate(5deg);
}
